.recipes {
  height: 100vh;
  background-color: #0a2750;
  background-image: url("../images/background_recipes.svg");
  background-position: center;
  background-size: cover;
}

.recipes__title {
  max-width: 580px;
  padding: 100px 0px 24px 80px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  display: flex;
  max-width: 438px;
  padding: 0px 0px 80px 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}

.recipes__video-item {
  display: flex;
  justify-content: space-evenly;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__iframe {
  border: 0;
}

.recipes__video-caption {
  display: flex;

  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
